$white: #fff;
$black: #000;
$grey: rgb(190, 190, 190);
$bg-header: rgba(33, 75, 75, 0.7);
$bg-layer2: rgba(187, 202, 202, 0.2);
$hover: #6eb9ff;
$whiteblue:rgb(220, 235, 235);
$bg-footer: #00264a;
$bg-copyrights: #001c36;
$pink: rgba(255, 144, 162, 0.3);
$lightblue: rgba(0, 255, 234, 0.3);
$green: rgba(0, 255, 13, 0.3);
$darkblue: rgba(0, 140, 255, 0.3);
$lightdarkblue: rgba(136, 191, 255, 0.3);

// Buttons 
// $buttons: 'blue' #6eb9ff, 'dark'#00264a;

// // Start font style
// $font-family: 'Open Sans', sans-serif;

// $font-r: (
//     font-family: $font-family,
//     font-weight: 400,
// );
// $font-m: (
//     font-family: $font-family,
//     font-weight: 500,
// );
// $font-m-b: (
//     font-family: $font-family,
//     font-weight: 600,
// );
// $font-b: (
//     font-family: $font-family,
//     font-weight: 700,
// );

// @mixin font-style($i) {
//     @each $property, $value in $i{
//         #{$property}: $value;
//     }
// }
// End font style
